[build]
command = "npx vite build"
publish = "dist"

[build.environment]
NODE_VERSION = "18"

[[headers]]
for = "/*"

[headers.values]
X-Robots-Tag = "index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
X-Content-Type-Options = "nosniff"
Referrer-Policy = "strict-origin-when-cross-origin"

[[plugins]]
package = "@netlify/plugin-lighthouse"